.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title {
    width: 100%;
    font-size: 100px;
    padding: 5px;
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #008fb5;
}

.aboutMe {
    margin-top: -10px; 
}

.img {
    height: 50px;
    width: 50px;
    background: #00223e;
    text-align: center;
    padding: 5px;
    border: 1px solid transparent;
    vertical-align: top;
}

.socialIcon {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pgraph {
    background: #00223e;
    color: white;
}

.bioText {
    color: white;
    font-size: 14px;
    background: #00223e;
    border: 1px solid #00223e;
    border-radius: 2px;
    width: 100%;
    height:60%;
    padding: 15px;
    margin-top: -60px;
    margin-bottom: 15px;
}

.contactMe {
    font-size: 14px;
    margin-bottom: -20px;
    text-align: center;
    color: white;
    background: #00223e;
}

.buttonClass {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 .button {
     width: 85%;
     height: 50px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
     border: 2px solid #00223e;
     border-radius: 7px;
     background: #008fb5;
     color: white;
     font-size: 22px;
     cursor: pointer;
     transition-duration: 0.5s;
     
 }
 
 .button:hover {
     background: #00223e;
     color: white;
     border: 2px solid #008fb5;
 }