@media only screen and (min-width: 768px) {

.projectTitle {
    margin-top: 15px;
    font-size: 40px;
}

.myProjects {
    margin-bottom: 30px;
}

.buttonClass {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.button {
    width: 50%;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.description {
    font-size: 20px;
    padding: 20px;
 }

 a {
    font-size: 18px;
 }

}